{# //1.- Wrap the component with provided attributes so themes can add classes. #}
<div{{ attributes.addClass('pds-component', 'pds-component--financial-education') }}>
  {% if title %}
    <h2 class="pds-component__title">{{ title }}</h2>
  {% endif %}
  {# //2.- Provide an optional description beneath the heading. #}
  {% if description %}
    <p class="pds-component__description">{{ description }}</p>
  {% endif %}
  {# //3.- Render each item as part of the insights collection. #}
  {% if items %}
    <ul class="pds-component__items">
      {% for item in items %}
        <li class="pds-component__item">
          {% if item.title %}
            <h3 class="pds-component__item-title">{{ item.title }}</h3>
          {% endif %}
          {# //4.- Display optional descriptive copy for each item. #}
          {% if item.description %}
            <p class="pds-component__item-description">{{ item.description }}</p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {# //5.- Expose a call-to-action so visitors can access more information. #}
  {% if cta %}
    <a href="{{ cta.url }}" class="pds-component__cta">{{ cta.label }}</a>
  {% endif %}
</div>
