<div{{ attributes.addClass('principal_modulo_conoce_fondos_mutuos') }}>
  <div class="principal-container">
    <div class="principal-titles-area">
      {% if heading %}<h2>{{ heading|raw }}</h2>{% endif %}
      {% if subheading %}<p>{{ subheading|raw }}</p>{% endif %}
    </div>

    {% if items %}
      <div class="principal-fondos-area">
        {% for item in items %}
          {% set url = item.url|default('#') %}
          <a class="principal-fondo-link" href="{{ url }}">
            <div class="principal-fondo">
              <div class="principal-fondo-icon-area">
                {% if item.icon %}<img src="{{ item.icon }}" alt="Icon">{% endif %}
              </div>
              <div class="principal-fondo-description-area">
                {% if item.title %}<h3>{{ item.title }}</h3>{% endif %}
                {% if item.description %}<p>{{ item.description }}</p>{% endif %}
              </div>
              <div class="principal-fondo-button-area">
                {% if item.arrow %}<img src="{{ item.arrow }}" alt="">{% endif %}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
