{#
  Theme hook: pds_fondos
  Vars:
  - title: string
  - subheader: string
  - subtitle: string
  - icon_url: string
  - arrow_url: string
  - fondos: [
      {
        url: string,
        title: string,
        description: string
      },
      ...
    ]
#}

{{ attach_library('pds_recipe_fondos_mutuos/fondos_mutuos') }}

<section class="principal_modulo_conoce_fondos_mutuos">
  <div class="principal-container">
    <div class="principal-titles-area">
      <h2>{{ title }}</h2>
      {% if subheader %}
        <h3>{{ subheader }}</h3>
      {% endif %}
      {% if subtitle %}
        <p>{{ subtitle }}</p>
      {% endif %}
    </div>

    <div class="principal-fondos-area">
      {% for f in fondos %}
        <a href="{{ f.url|default('#') }}">
          <div class="principal-fondo">
            <div class="principal-fondo-icon-area">
              {% if icon_url %}
                <img src="{{ icon_url }}" alt="">
              {% endif %}
            </div>
            <div class="principal-fondo-description-area">
              <h3>{{ f.title }}</h3>
              <p>{{ f.description }}</p>
            </div>
            <div class="principal-fondo-button-area">
              {% if arrow_url %}
                <img src="{{ arrow_url }}" alt="">
              {% endif %}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>
